.odi-wrapper {
  flex: 1;
  position: inherit;
  height: inherit;

  &.popup-active {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
  }
}

.odi-wrapper-container {
  display: flex;
}

.malleability-tooltip {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 2px;
  background-color: white;
  padding: 2px;
  border-radius: 4px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  z-index: 50;
}

.pop-up {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 40;
  overflow: hidden;

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.3;
  }
  .detail-view-wrapper {
    width: 80%;
    max-width: 1000px;
    // width: fit-content;
    max-height: 90%;
    height: fit-content;
    background-color: white;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    z-index: 10;
    overflow: auto;
    position: relative;
  }
}

body.no-scroll {
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
}
